.idea/workspace.xml
.bin
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/builderror.log