.idea/workspace.xml
.bin
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/lib/vendor/web-socket-js/flash-src/com/hurlant/crypto/rsa/RSAKey.as
