# Mac OS X
.DS_Store

# WebStorm
.idea/workspace.xml

# npm
node_modules/**/.bin/


### npm modules' build artifacts ###

# Selenium WebDriverJS & Karma: Optional dependencies that don't build on vanilla Windows
node_modules/fsevents/

# Socket.IO
node_modules/uws/build/
node_modules/uws/build_log.txt

# uws
node_modules/uws/uws_darwin_59.node

# Karma
node_modules/karma/static/context.js
node_modules/karma/static/karma.js